doctype html
html
  head
    title(data-bind=
      'text: "Dofus Dimensional Portal Coordinates - " + pager.activePage$().id()')
    link(rel='stylesheet' type='text/css' href='style.css')
    script(type='text/javascript'
           src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript',
           src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(type='text/javascript'
           src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.js')

    script(type='text/javascript', src='pager.js')
    script(type='text/javascript', src='main.js')
  body
    nav
      ul(data-bind='foreach: $__page__.children')
        li(data-bind='css: {active: isVisible}')
          a(data-bind='text: $data.id(), page-href: $data')

    // ko foreach: {data: servers, as: 'server'}
    div.page(data-bind='page: {id: server,' +
                       'withOnShow: $root.loadData(server), params: {limit: 1}}')
      h1 Where is portal?
      p Newest portal coordinates 
        a(title='ImpsVillage dimensional portal position thread' target='impsvillage'
          data-bind='attr: {href: source}') posted
        |  by 
        span(data-bind='text: server')
        |  players:
      // ko foreach: portals
      h2.dimension(data-bind='text: dimension')
      ul(data-bind='foreach: portals.slice(0, $parent.limit())')
        li
          input.coordinates(readonly data-bind='value: coordinates' onclick='this.select()')
          span.metadata
            |  Posted by 
            span.author(data-bind='text: author')
            |  
            time(data-bind='time: postingDate')
      // /ko
      p Coordinates too old? Update them 
        a(target='impsvillage' title='Reply to ImpsVillage dimensional portal positions thread'
          data-bind='attr: {href: edit}') here
        | .
    // /ko

