doctype html
html
  head
    title(data-bind=
      'text: "Dofus Dimensional Portal Coordinates - " + pager.activePage$().id()')
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet' type='text/css' href='style.css')
    script(type='text/javascript'
           src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript',
           src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(type='text/javascript'
           src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.js')

    script(type='text/javascript', src='pager.js')
    script(type='text/javascript', src='main.js')
  body
    nav
      ul(data-bind='foreach: $__page__.children')
        li(data-bind='css: {active: isVisible}')
          a(data-bind='text: $data.id(), page-href: $data')

    // ko foreach: {data: servers, as: 'server'}
    div.page(data-bind=
      'page: {id: server, withOnShow: $root.loadData(server)}')
      h1 Where is portal?
      p Newest portal coordinates 
        a(title='ImpsVillage dimensional portal position thread' target='impsvillage'
          data-bind='attr: {href: data().source}') posted
        |  by 
        span(data-bind='text: server')
        |  players:
      // ko foreach: data().portals
      h2.dimension(data-bind='text: dimension')
      div.portal(data-bind='with: portals[0]')
        input.coordinates(readonly data-bind='value: coordinates' onclick='this.select()')
        // ko if: area
        span.detail.area(data-bind='text: area')
        // /ko
        // ko if: uses
        span.detail.uses(data-bind='text: uses + " uses"' title='At time of posting')
        // /ko
        time.detail.postingDate(data-bind='time: postingDate')
        span.metadata
          |  Posted by 
          span.author(data-bind='text: author')
          |  
      // /ko
      p Coordinates too old? 
        a(target='external' title='Dofus Wiki page on portal/treasure hunts'
          href='http://dofuswiki.wikia.com/wiki/Treasure_Hunt#Portal_Hunt') Find
        |  the new portal and update it 
        a(target='impsvillage' title='Reply to ImpsVillage dimensional portal positions thread'
          data-bind='attr: {href: data().edit}') here
        | .
      p Maps and guides for the dimensions:
        ul
          li: a(title='Xelorium quest guides and maps' target='external'
            href='http://gondawa.com/index.php/en/blog/xelorium-quests/xel-informations-en/')
            | From Gondawa
          li: a(title='Divine dimensions guides' target='external'
            href='http://domainofthetwelve.tumblr.com/TOC')
            | By SnarkHunter
    // /ko

    div.page(data-bind='page: {id: "About", role: "start"}')
      h1 What is this?
      p.
        This website displays coordinates of Dofus dimensional portals which players
        have posted on ImpsVillage forum threads. Select your server to see them.
      p.
        How accurate and current the portal coordinates are depends on forum users.
        There may be a slight delay before this page is updated with new forum posts.
        By using this site, you acknowledge that the site owner and players posting
        coordinates disclaim all liability in cases of injuries or deaths resulting
        from improper dimensional teleportation.
      p.
        If your server is not yet listed, consider starting a forum thread for your
        server, and then contact Happida to add it here.
      p.
        Developers, feel free to check out the source code of this website:
      ul
        li
          a(target='external'
            href='https://github.com/hagabaka/dofusportal') Web interface
        li
          a(target='external'
            href='https://github.com/hagabaka/dofusportal-api') Portal data API

